{% extends "../bills_base.html" %}

{% block js_block %}
{{ block.super }}
{# <script src="{{ STATIC_URL }}js/jquery.formset.js"></script> #}
{% endblock %}

{% block content_title %}
<h2>New Payment</h2>
{% endblock content_title %}

{% block center_block %}
{{ block.super }}
<form id="create_bill_form" action="/bills/payment/create/" method="post">{% csrf_token %}
	<fieldset id="group_fieldset">
		{{ form.as_p }}
	</fieldset>
	<fieldset class="controls_fieldset">
        <input type="submit" value="Create Payment" class="submit" />
        <a class="cancel" href="{% url 'bills.views.dashboard' %}">Cancel</a>
	</fieldset>
</form>
{% endblock center_block %}

{% block right_block %}
{{ request }}
{% endblock right_block %}