{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    {% block head_block %}
        <title>{% block title_block %}Selecsosi.com{% endblock title_block %}</title>
        {% block js_head %}
            <script type="text/javascript" src="{% static "jquery/jquery-2.2.0.js" %}"></script>
        {% endblock js_head %}
        {% block css_block %}
            <link rel="stylesheet" type="text/css" href="{% static "css/site.css" %}">
        {% endblock css_block %}
    {% endblock head_block %}
</head>
<body>
<div class="content">
	{% block content_block %}
	{% endblock content_block %}
</div>
{% block js_footer %}
{% endblock js_footer %}
</body>
</html>
